.mypage-container {
  width: 100%;
  max-width: 1064px;
  padding: 50px 10px 50px 10px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  gap: 40px;

  .mypage-menubar {
    width: 200px;

    h1 {
      font-size: 20px;
      margin: 0 0 50px 0;
    }

    .mypage-menu-top {
      padding-left: 0;

      .mypage-menu-title {
        color: #898989;
        font-size: 15px;
        font-weight: 500;
        margin: 20px 0 40px 0;

        p {
          margin-bottom: 10px;
        }
      }

      ul {
        padding-left: 20px;
      }

      li {
        list-style: none;
        margin-bottom: 10px;
      }
    }
  }
}
