.mypost-container {
  width: 100%;
  margin-bottom: 50px;

  .mypost-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    h1 {
      margin: 0;
      font-size: 24px;
    }

    button {
      border: none;
      outline: none;
      padding: 8px 30px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 800;
      border-radius: 10px;
      background: #00008b;
    }
  }

  .post-items {
    max-height: 600px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 10px;
      margin-top: 10px;
    }

    &::-webkit-scrollbar-track {
      background: #d9d9d9;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: #00008b;
      border-radius: 10px;
    }

    .post-item {
      width: 98%;
      height: 180px;
      display: flex;
      border-radius: 15px;
      border: 1px solid #d0d0d0;
      margin: 0 0 20px 0;
      gap: 20px;
      .logo {
        width: 30%;
        height: 100%;
        border-radius: 15px 0px 0px 15px;
      }

      div {
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
          &:nth-child(1),
          &:nth-child(2) {
            font-size: 28px;
            font-weight: 800;
            margin: 10px 0;
          }

          &:nth-child(2) {
            font-size: 24px;
          }
        }
        span {
          color: #00008b;
          font-weight: 800;
          align-self: flex-end;
        }
      }
    }
  }
}
