.profile-container {
  width: 100%;
  flex: 1;
  height: 300px;
  border-radius: 15px;
  border: 1px solid #d0d0d0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3fr 1fr;

  .profile-top {
    grid-column: 1 / span 3;
    display: flex;
    padding: 20px;
    gap: 20px;
    border-bottom: 1px solid #d0d0d0;

    .profile-top-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        font-size: 20px;
        margin-bottom: 10px;
      }

      .profile-top-info-email,
      .profile-top-info-point {
        display: flex;
        align-items: center;
        p {
          margin: 10px 0 10px 10px;
        }
      }

      .profile-top-info-point {
        .point-usage {
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          border: 1px solid #898989;
          margin-left: 20px;
          padding: 2px 5px 2px 5px;
          p {
            margin: 0;
            font-size: 10px;
            color: #898989;
            font-weight: 600;
          }
          img {
            width: 14px;
            height: 10px;
          }
        }
      }
    }
  }

  .profile-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 10px;
    border-right: 1px solid #d0d0d0;

    &:nth-child(4) {
      border: none;
    }

    span {
      color: #699bf7;
    }
  }
}
